{% extends "bases/base.html" %}

{% load static %}

{% block 'head' %}
    <link href="{% static 'geral/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}
<br><br>
<div class="box">
    <form action="{% url 'login' %}" method="POST" autocomplete="off">
        {% csrf_token %}
        <h2>Sign In</h2>
        <div class="inputBox">
            <input type="text" name="username" required="required">
            <span>Username</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" name="password" required="required">
            <span>Password</span>
            <i></i>
        </div>
        <div class="links">
            <a href="#">Forgot Password?</a>
            <a href="{% url 'signup' %}">Signup</a>
        </div>
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}